<div class="container">
<h1>Edit your list name</h1>
<%= simple_form_for [@lists] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :name %>
  <%= f.button :submit, class: "btn btn-dark btn-kaue" %>
<% end %>
<p class="btn btn-dark btn-kaue" ><%= link_to "Home", lists_path %></p>
</div>
