<h1>Add new comment</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.association :list %>
   <div class="btn btn-primary form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<h1> # TODO melhorar esse else (colocar um aviso de erro)</h1>
